* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

.wedding {
  padding: 280px 0;
  background-image: url(image/banner.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  animation: 5s show ease;
}

.left {
  font-size: 20px;
  display: inline-block;
  overflow: hidden;
  max-width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
	
.right {
  display: inline-block;
  white-space: nowrap;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: 'Cormorant Infant';
  letter-spacing: .3rem;
}

h2 {
  font-family: 'Cormorant Infant';
  font-style: italic;
}

.cursive {
  font-family: 'Cormorant Infant';
  font-size: 35px;
  font-weight: 700;
}

p {
  font-family: 'Cormorant Infant';
}

.point {
  color: #696969;
  font-family: 'Cormorant Infant';
}

.textes {
  font-size: 0.8rem;	
  color: #696969;
  font-family: 'Cormorant Infant';
}

.gradient {
  color: transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, red, orange, fuchsia);
}

span {
  font-size: 2rem;
}

.number {
  font-size: 2rem;
  font-family: 'Cormorant Infant';
  color: #696969;
}

.friends {
  font-size: 1.5rem;
  padding: 80px 0;
  background-color: #FFFFFF;
}

.friends p {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  font-size: 2rem;
  margin: 0 auto;
  border-collapse: collapse;
}

.table {
  background-color: #FFFFFF;
}

caption {
  padding: 20px;
  background-color: #B22222;
  color: #fff;
  font-style: italic;
}

th,
td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid #e8e8e8;
}

tr:last-child td:nth-last-child(-n+1) {
  color: #c1c1c1;
}

tr:nth-child(2) td:nth-child(-n+3) {
  color: #c1c1c1;
}

th,
tr {
  background-color: #f7f7f7;
}

.place {
  padding: 30px;
  font-size: 2rem;
  background-color: #FFFFFF;
}

img {
  margin: 30px 0;
  width: 100%;
  max-width: 1000px;
}

td i {
  color: #FFFFFF;
  font-size: 1.5rem;
}

footer p {
  padding: 30px 0;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
}

footer {
  background-color: #B22222;
}

.maps {
	max-width: 90%; 
	height:350px; 
	display: block; 
	margin:auto;
	margin-bottom: 20px;
	border:3px solid #e6e6e6;border-radius:8px;box-sizing:border-box;
}

@media screen and (max-width: 865px) {
.wedding {
  padding: 100px 0;
}
	
h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-family: 'Cormorant Infant';
}
	
span {
  font-size: 1.5rem;
}
	
.number {
  font-size: 2rem;
}
	
.friends {
  font-size: 1.2rem;
  padding: 50px 0;
}
	
table {
  font-size: 1.5rem;
}
	
caption {
  padding: 20px;
}
	
th,td {
  width: 70px;
  height: 70px;
}
	
td i {
  color: #FFFFFF;
  font-size: 1.2rem;
}
	
.place {
  padding: 25px 0;
  font-size: 1.4rem;
}
	
footer p {
  padding: 20px 0;
  font-size: 1.5rem;
}
}

@media screen and (max-width: 690px) {
.wedding {
  padding: 60px 0;
}
	
h1 {
  font-size: 1.4rem;
  font-family: 'Cormorant Infant';
}
	
span {
  font-size: 1rem;
}
	
.number {
  font-size: 1.5rem;
}
	
.friends {
  font-size: 1rem;
}
	
table {
  font-size: 1.3rem;
}
	
caption {
  padding: 15px;
}
	
th,td {
  width: 60px;
  height: 60px;
}
	
td i {
  color: #FFFFFF;
  font-size: 1rem;
}
	
.place {
  font-size: 1rem;
}
	
footer p {
  padding: 20px 0;
  font-size: 1.3rem;
}
	
.left {
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
}
	
.right {
  display: inline-block;
  white-space: nowrap;	
}
}

@media screen and (max-width: 480px) {
.wedding {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.left {
  font-size: 8px;
}	
	
h1 {
  font-size: 1.3rem;
  font-family: 'Cormorant Infant';
}
	
span {
  font-size: 1rem;
}
	
.number {
  font-size: 1.5rem;
}
    
.friends {
  font-size: .8rem;
}
	
table {
  font-size: 1rem;
}
	
caption {
  padding: 15px;
}
	
th,td {
  width: 45px;
  height: 45px;
}
	
td i {
  font-size: .7rem;
}
	
.place {
  font-size: .85rem;
}
	
footer p {
  font-size: 1rem;
}
}

.timer__items {
  font-size: 54px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF; 
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px; 
}

.timer {
  background-color: #FFFFFF;
}
